<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATsK6R2V_s-NvxiY0HuT8FKcueMiVLo08</string>
	<key>GCM_SENDER_ID</key>
	<string>185568530608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damdot.peofree</string>
	<key>PROJECT_ID</key>
	<string>dam-dot</string>
	<key>STORAGE_BUCKET</key>
	<string>dam-dot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185568530608:ios:cc04a92b339216c16ceb75</string>
</dict>
</plist>